<footer class="px-10">
  <ul class="list-none m-0 p-0 flex flex-row justify-center">
    <li class="w-50 h-10 p-2 mx-2 hover:bg-purple-100 rounded-md transition duration-300 ease-in-out"><a href="/">dankulla.com</a></li>
    <li class="w-50 h-10 p-2 mx-2 hover:bg-purple-100 rounded-md transition duration-300 ease-in-out"><a href={{ meta.contactFormUrl }}>Contact Me</a></li>
    <li class="w-50 h-10 p-2 mx-2 hover:bg-purple-100 rounded-md transition duration-300 ease-in-out"><a href="/">dan kulla</a></li>
  </ul>
  <ul class="list-none m0 p0 h-50 flex flex-row justify-center">
    <li class="flex flex-col justify-end mx-2 hover:bg-purple-100 rounded-md transition duration-300 ease-in-out">
      <a href="https://github.com/dkulla01">
        <img src="./images/GitHub-Mark-64px.png" alt="github" height="64" width=64/>
      </a>
    </li>
    <li class="flex flex-col justify-end hover:bg-purple-100 rounded-md transition duration-300 ease-in-out">
      <a href="https://www.linkedin.com/in/daniel-kulla-23673394/">
        <img src="./images/LI-In-Bug.png" alt="linkedin" height="64" width=64/>
      </a>
    </li>
  </ul>
</footer>