<header class="px-10">
    <nav class="flex flex-row justify-between w-full items-center">
          <a href="{{meta.url}}" class="inline-block">dankulla.com</a>
      
        <ul class="list-none m-0 p-0 flex">
          <li class="w-50 h-10 p-2 mx-2 bg-purple-300 hover:bg-purple-500 rounded-md transition duration-300 ease-in-out"><a href="{{meta.url}}/about">About Me</a></li>
          <li class="w-50 h-10 p-2 mx-2 bg-purple-300 hover:bg-purple-500 rounded-md transition duration-300 ease-in-out"><a href="{{meta.url}}/contact">Contact Me</a></li>
        </ul>
    </nav>
</header>