<header class="px-10 py-3">
    <nav class="flex md:flex-row flex-col md:h-10 md:justify-between justify-center w-full">
          <a href="{{meta.url}}" class="mx-2 px-2 flex items-center justify-center rounded-sm md:rounded-md hover:bg-purple-300 transition duration-300 ease-in-out">dankulla.com</a>
      
        <ul class="list-none m-0 p-0 flex md:flex-row flex-col">
          <li class="w-50 mx-2 px-1 flex items-center justify-center rounded-sm md:rounded-md hover:bg-purple-300 transition duration-300 ease-in-out"><a href="//what-i-do">What I Do</a></li>
          <li class="w-50 mx-2 px-1 flex items-center justify-center rounded-sm md:rounded-md hover:bg-purple-300 transition duration-300 ease-in-out"><a href="{{meta.url}}/about">About Me</a></li>
          <li class="w-50 mx-2 px-1 flex items-center justify-center rounded-sm md:rounded-md shadow-md bg-purple-100 md:bg-purple-300 hover:bg-purple-500 transition duration-300 ease-in-out"><a href="{{ meta.contactFormUrl }}">Contact Me</a></li>
        </ul>
    </nav>
</header>
