<nav>
  <ul class="relative">
    {% for navItem in nav.navItems %}
      {% if page.url == navItem.link%}
        <li class="relative ">
          <a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-900 text-ellipsis whitespace-nowrap rounded bg-gray-100"
            href="{{ navItem.link }}">{{ navItem.text }}</a>
        </li>
      {% else %}
        <li class="relative">
          <a class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-100 transition duration-300 ease-in-out"
            href="{{ navItem.link }}">{{ navItem.text }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>