---
layout: base.njk
---

<article>
  <div class="md:my-20 flex flex-col justify-center items-center px-20">
    <div class="md:max-w-2xl md:w-4/5 w-64">
    {{ content | safe}}
    </div>
  </div>
</article>
