---
title: dankulla.com | about
permalink: /about/
layout: landing_page.njk
featured_image:
  path: ./src/images/block_party_dan_close.jpeg
  alt: Clearly I'm having fun
  sizes: "600"
---

<h1 class="text-2xl my-3">Who I Am</h1>
<p class="text-lg my-3 text-justify">
  I'm Dan! I like to work with computers, but I also like cooking, tinkering with things, and
  going to block parties.
</p>

<p class="text-lg my-3 text-justify"> Take a look at <a class="standard-link-styling" href="{{meta.url}}/what-i-do">what I do</a> and <a class="standard-link-styling" href="{{meta.url}}/posts">the projects I've written about</a>, or <a class="standard-link-styling" href="{{meta.contactFormUrl}}">reach out to me</a> if you want to know more.</p>
<div class="text-start">
</div>
