---
title: dankulla.com | about
permalink: /about/
layout: landing_page.njk
featured_image:
  path: ./src/images/block_party_dan_close.jpeg
  alt: Clearly I'm having fun
  sizes: "600"
---

<h1 class="text-2xl my-3">Who I Am</h1>
<p class="my-3 text-justify">
  I'm Dan! I like to work with computers, but I also like cooking, tinkering with things, and
  going to block parties.
</p>
<div class="text-start">
  {% highlight "shell" %}
#/usr/bin/env bash
command -v cross
  {% endhighlight %}
</div>
