---
title: dankulla.com
layout: landing_page.njk
featured_image:
  path: ./src/images/haircut_mirror.jpeg
  alt: My best mirror selfie
  sizes: "600"
---

<h1 class="text-2xl my-5">Hi! I'm Dan, and I like to work on projects.</h1>
<button class="h-10 bg-purple-100 hover:bg-purple-300 transition duration-300 ease-in-out shadow-md px-5 rounded-md align-middle"><a href="{{ meta.contactFormUrl }}">Say Hello</a></button>
